@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before {
    box-sizing: border-box;
}

